img {
  width: 190px;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  font-size: 20px;
  font-family: 'Tahoma';
  color: white;
}

div {
  background-color: rgb(0, 0, 0);
  color: gray;
  padding: 50px;
  border-bottom: 2px solid white;
  text-align: center;
}

h2 {
  font-size: 24px;
}

p {
  text-align: center;
  line-height: 28px;
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}

span {
  font-weight: bold;
  color: white;
}

a {
  background-color: gray;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
}

a:hover {
  padding: 16px;
  background-color: white;
  color: black;
}
